@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap") */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #121212;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbars in WebKit browsers (e.g., Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}
button {
  outline: none;
}
.PhoneInputInput {
  padding: 14px;
  border: 1px solid #475367;
  background-color: #1b1c1e;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.PhoneInputCountry {
  border: 1px solid #475367;
  margin: 0;
  width: 18%;
  background-color: #1b1c1e;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.PhoneInputCountry::before {
  outline-color: transparent !important;
}
.PhoneInputCountry::after {
  outline-color: transparent !important;
}
.PhoneInputCountryIconImg {
  border-radius: 100%;
  height: 25px !important;
  width: 25px !important;
  object-fit: cover;
}
.PhoneInputCountryIcon {
  height: 25px !important;
  width: 25px !important;
  position: relative;
  box-shadow: none !important;
  background-color: transparent !important;
}

.error-message {
  color: #e26e6a !important;
  font-size: "xs";
}

/* Phone number input styles  */
.phone_input {
  background: #1b1c1e !important;
  border: 1px solid #475367 !important;
  height: 3.5rem !important;
  border-radius: 0 0.34rem 0.34rem 0 !important;
  width: 100% !important;
  padding: 1rem 0.75rem !important;
  border-left: none !important;
}

.phone_container_class {
  display: flex !important;
  flex-direction: row-reverse !important;
  border: none !important;
  width: 100% !important;
}
.phone_country_button {
  background: #1b1c1e !important;
  border: 1px solid #475367 !important;
  border-radius: 0.34rem 0 0 0.34rem !important;
  position: relative !important;
  width: 100px !important;
}
.phone_country_button:hover {
  background: #1b1c1e !important;
}

.phone_country_button > .selected-flag {
  background: #1b1c1e !important;

  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  border-radius: 0.34rem 0 0 0.34rem !important;
}

.country.highlight {
  background: #29303b !important;
}

.phone_country_dropdown {
  border: 1px solid #1b1c1e !important;
  background: #1b1c1e !important;
  border-radius: 0.34rem !important;
  padding: 0 16px !important;
}

.phone_search_class {
  display: flex !important;
  align-items: center !important;
  background: #1b1c1e !important;
}
.phone_search_class-emoji {
  display: none !important;
}
.phone_search_class > input {
  background: #1b1c1e !important;
  border: 1px solid #475367 !important;
  height: 1rem !important;
  border-radius: 0.34rem !important;
  width: 100% !important;
  padding: 16px !important;
}
